<IfModule mod_rewrite.c>
    RewriteEngine On

    # 1. ถ้าเรียกไฟล์ที่อยู่ในโฟลเดอร์ public ให้ชี้เข้าไปที่นั่นโดยตรง
    RewriteCond %{DOCUMENT_ROOT}/public/$1 -f
    RewriteRule ^(.*)$ public/$1 [L]

    # 2. กฎการ Routing ปกติสำหรับ MVC
    RewriteRule ^$ public/index.php [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]
</IfModule>